# Built application files
*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
*.log

bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
.navigation/
captures/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/navEditor.xml
.externalNativeBuild
.cxx/
freeline.py
freeline/
freeline_project_description.json
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md
vcs.xml
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/

graxONo/bin/
graxONo/gen/
graxONo/out/
graxONo/.gradle/
graxONo/build/
graxONo/local.properties
graxONo/proguard/
graxONo/.navigation/
graxONo/captures/
graxONo/*.iml
graxONo/.idea/workspace.xml
graxONo/.idea/tasks.xml
graxONo/.idea/gradle.xml
graxONo/.idea/assetWizardSettings.xml
graxONo/.idea/dictionaries
graxONo/.idea/libraries
graxONo/.idea/caches
graxONo/.idea/modules.xml
graxONo/.idea/navEditor.xml
graxONo/.externalNativeBuild
graxONo/.cxx/
graxONo/freeline.py
graxONo/freeline/
graxONo/freeline_project_description.json
graxONo/fastlane/report.xml
graxONo/fastlane/Preview.html
graxONo/fastlane/screenshots
graxONo/fastlane/test_output
graxONo/fastlane/readme.md
graxONo/vcs.xml
graxONo/lint/intermediates/
graxONo/lint/generated/
graxONo/lint/outputs/
graxONo/lint/tmp/